
body {
  background-color: #fdef96;
}
.App {
  display: grid;
}

.Loading{
  font-size: 50px;
  text-align: center;
  color: #871F78;
  font-style: bold;
  margin: 1rem;
}

/* -----------------------MainHeader-----------------------------
 */

.Header {
  color: #fdef96;
  font-weight:400;
  background: linear-gradient(90deg, #E9EFF3, #491040);
  margin: 10px;
  font-size: 3rem;
  margin-top: 10px;
  text-align: right; 
  background-color: #8896A9;
  box-shadow: 5px 5px 5px #151620;
  border-radius: 30% 0%;
  padding: 10px;
  margin-bottom: 50px;
}

/* -----------------------Greeting-----------------------------
 */

.Greeting {
  display: grid;
  color: #6B7AB9;
  font-style: bold;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template: 
  "welcome Avatar" 30px
  "UserName Avatar" 30px / 5fr 2fr;
  gap: 5px;
  padding: 10px;
  margin-top: -20px;
  margin-right: -50px;
}

/* -----------------------GreetingBrokenDown-----------------------------
 */

.Welcome {
  grid-area: welcome;
  text-align: right;
  margin-top: -3px;
  
}

.UserName {
  grid-area: UserName;
  font-style: italic;
  color:#8896A9;
  font-size: small;
  text-align: right;
  margin-top: -3px;


}

.Avatar {
  grid-area: Avatar;
  height: 100%;
  box-shadow: 5px 5px 5px #151620;
  border-radius: 5px
}


/* -----------------------ArticleList-----------------------------
 */
.AtricleListAll {
  display: grid;
  align-content: center;
}

/* -----------------------ArticleCard-----------------------------
 */

.ArticleCard {
  display: grid;
  color: #151620;
  margin: 2px;
  width: 100%;
}

/* -----------------------ArticleCardBrokenDown-----------------------------
 */

.ArticleCardTitle{
  text-align: justify;
  overflow-wrap: break-word;
  margin-bottom: -30px;
  margin-top: 20px;
  padding: 5px;
}

.ArticleCardAuthor {
  margin-bottom: 0px;
  margin-top: 30px;
  font-style: italic;
  font-size: 15px;
  color:#75677A;
}

.ArticleCardThumbnails {
  width: 100%;
  margin: 2px;
  box-shadow: 5px 5px 5px #151620;
}

/* ----------------------------SingleArticlePage------------------------ */

.SingleArticlePage {
  object-fit: contain;
  color: #151620;
}

/* ----------------------------SingleArticlePageBrokenDown------------------------ */

.SingleArticlePageTitle {
  margin-top: -25px;
}

.CreatedAt {
  margin-top: -15px;
  color:#75677A
}

.SingleArticlePageAuthor {
  margin-top: -15px;
  color:#75677A
}

.SingleArticlePageImg {
  width: 370px;
  justify-content: center;
  margin: 2px;
  object-fit: scale-down;
  box-shadow: 5px 5px 5px #151620;
  /* border-radius: 25% 10%; */

}

.SingleArticlePageBody {
  font-size: larger;
}

.WriteACommentButton {

  
}

/* --------------------------CommentCard--------------------------
 */

 .CommentCard {
  color: #151620;
  background-color: #8896A9;
  box-shadow: 5px 5px 5px #151620;
  border-radius: 25% 10%;
  padding: 10px;
  margin: 10px;
 }

 /* ----------------CommentCardBrokenDown-------------------- */

 .CommentCardAuthor {

 }

 .CommentCardVotes {

 }

 .CommentCardBody {

 }

 .CommentCardCreatedAt {
  color: #fdef96;

 }

 /* ------------------------CommentGroup-------------------------- 
 
*/
.CommentsHeader{
  font-size: 30px;
  color:#491040;
  padding: 10px;
  margin-bottom: -10px;
  margin-top: -3px;
}
.CommentGroup {


}

.ColorSchemeOne{
  color: #E9EFF3;
  color: #8896A9;
  color: #6B7AB9;
  color: #75677A;
  color: #151620;

}
